.wholesale-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.wholesale-container h1{
    text-align: center;
    font-weight: bolder;
}
.wholesale-container h6{
    text-decoration: underline;
    font-size: 10px;
    margin-top: 5px;
}
.wholesale-container p{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.wholesale-container label{
    margin-top: 20px;
}
.wholesale-container input{
    width: 300px;
    text-align: center;
}
.btn button{
    margin-top: 20px;
    padding: 5px;
    background-color:white;
}
.btn2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-right: 70px;
}
.btn{
    text-align: center;
}


@media screen and (max-width:500px) {
.wholesale-container{
    height: 100vh;
    text-align: center;
}
.wholesale-container h1{
    text-align: center;
    font-weight: bolder;
}
.wholesale-container h6{
    text-decoration: underline;
    font-size: 10px;
    margin-top: 5px;
}
.wholesale-container label{
    margin-top: 20px;

}
.wholesale-container input{
    width: 250px;
    text-align: center;
}
}